data/raw_data/*
data/processed_data/*
data/preprocessed_data/*
data/train_test_data/*
data/models/*
data/metrics/*

!data/raw_data/.gitkeep
!data/processed_data/.gitkeep
!data/preprocessed_data/.gitkeep
!data/train_test_data/.gitkeep
!data/models/.gitkeep
!data/metrics/.gitkeep
