raw_data/*
processed_data/*
preprocessed_data/*
train_test_data/*
models/rt-polarity/*.pkl
models/sephora/*.pkl

!raw_data/.gitkeep
!processed_data/.gitkeep
!preprocessed_data/.gitkeep
!train_test_data/.gitkeep
!models/.gitkeep
!metrics/.gitkeep
